@import "normalize";
$clouds: rgb(208, 211, 212);
$clouds-rgba: rgba(208, 211, 212, 0.9);
$clouds-rgba-light: rgba(208, 211, 212, 0.3);
$clouds-darker-rgba: rgba(188, 191, 192, 0.9);
$text-color-light: rgba(250,250,250,0.9);
$text-color-dark: rgba(0,0,0,0.8);
$font-cabin: 'Cabin', sans-serif;
$font-anton: 'Anton', sans-serif;
body, html{
    height: 100%;
    font-family: $font-cabin;
}
@keyframes pointing-down {
    0%{transform: translateY(0);}
    50%{transform: translateY(15px);}
    100%{transform: translateY(0);}
}
@keyframes fade-in-down {
    0%{opacity: 0; transform: translateY(-20px);}
    100%{opacity: 1; transform: translateY(0px);}
}
@keyframes fade-in-up {
    0%{opacity: 0; transform: translateY(10px);}
    100%{opacity: 1; transform: translateY(0px);}
}
.header{
    font-family: $font-anton;
    height: 95%;
    padding-top: 5%;
    background: url("../img/frog.jpg") no-repeat fixed top;
    background-size: cover;
    text-align: center;
    color: $text-color-light;
    .heading{
        animation: fade-in-down;
        animation-timing-function: ease-in;
        animation-duration: 0.7s;
        color: $text-color-dark;
        font-size: 38px;
        margin: 0;
        text-shadow: 1px 1px 1px rgba(250,250,250,0.2);
    }
    .heading__link{
        color: $text-color-dark;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    .heading_light{
        color: $text-color-light;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    }
    .heading__paragraph{
        animation: fade-in-up;
        animation-timing-function: ease-in;
        animation-duration: 0.7s;
    }
}
.button-arrow{
    opacity: 0.7;
    background-color: rgba(0,0,0,0);
    padding: 0;
    border: 0;
    width: 40px;
    position: absolute;
    top: 85%;
    cursor: pointer;
    left: calc(50% - 20px);
    transition: 0.3s;
    animation: pointing-down;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    &:hover{
        opacity: 1;
    }
    &:focus{
        opacity: 1;
        outline: 1px dashed rgba(0,0,0,0.9);
    }
    .img-arrow{
        width: 100%;
    }
}
.nav{
    position: absolute;
    height: 90px;
    top: 35%;
    width: 100%;
    background-color: $clouds-rgba;
    text-align: center;
    font-size: 20px;
    border-top: 1px solid $clouds-darker-rgba;
    border-bottom: 1px solid $clouds-darker-rgba;
    padding-top: 50px;
    transition: height 0.5s, padding-top 0.5s, padding-bottom 0.5s;
    .nav__list{
        padding: 0;
        margin: 0;
    }
    .nav__list-item{
        display: inline-block;
    }
    .nav__link{
        color: $text-color-dark;
        text-decoration: none;
        display: block;
        padding: 5px;
        width: 100px;
        border-bottom: 1px solid rgba(0,0,0,0);
        transition: 0.5s;
        &:hover{
            border-bottom: 1px solid $text-color-dark;
        }
    }
    .nav__link_active{
        color: $text-color-light;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
        &:hover{
            border-bottom: 1px solid $text-color-light;
        }
    }
}
.nav_sticky{
    height: 30px;
    padding-top: 1px;
    padding-bottom: 6px;
    position: fixed;
    top:0;
    z-index: 100;
}
.main{
    min-height: 500px;
    background-color: $clouds;
}
.article{
    text-align: center;
    color: $text-color-dark;
}
.article__heading, .main__heading{
    margin: 0;
    padding: 50px 0 20px 0;
    font-size: 30px;
    text-align: center;
}
.article__section{
    width: 350px;
    padding: 25px;
    display: inline-block;
    vertical-align: top;
}
.section__heading{
    font-size: 24px;
    margin-top: 0;
    padding-top: 25px;
}
.span_text-bold{
    font-weight: bold;
}
.social-media{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
        cursor: pointer;
        display: inline-block;
        margin: 10px;
        width: 50px;
        img{
            opacity: 0.95;
            transition: transform 0.6s, opacity 0.3s;
        }
        &:hover{
            img{
                transform: rotateY(180deg);
                opacity: 1;
            }
        }
        a{
            &:focus{
                outline: none;
                border-bottom: 1px solid rgba(0,0,0,0.2);
                img{
                    transform: rotateY(180deg);
                }
            }
        }
    }
}
.background-container{
    height: 150px;
    background: url("../img/photographer.jpg") no-repeat fixed top;
    background-size: cover;
}
.background-container_contact{
    height: 150px;
    background: url("../img/greylag.jpg") no-repeat fixed top;
    background-size: cover;
}
.footer{
    text-align: center;
    min-height: 150px;
    background-color: $clouds;
    border-top: 1px solid $clouds-darker-rgba;
    .footer__section{
        vertical-align: top;
        width: 400px;
        padding: 25px;
        display: inline-block;
    }
    .footer__list{
        list-style: none;
        padding: 0;
    }
    .footer__link{
        color: $text-color-dark;
        text-decoration: none;
        transition: 0.3s;
        &:hover{
            color: black;
            text-decoration: underline;
        }
        &:focus{
            color: black;
            text-decoration: underline;
        }
    }
}
.category-list{
    list-style: none;
    display: block;
    padding: 0;
    margin: 20px auto;
    text-align: center;
    .category__list-item{
        display: inline-block;
        width: 15%;
    }
    .category__button{
        box-sizing: border-box;
        width: 100%;
        padding: 5px 0;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 0;
        cursor: pointer;
        background-color: rgba(0,0,0,0);
        font-family: $font-cabin;
        font-size: 18px;
        transition: 0.4s;
        &:hover{
            color: $text-color-dark;
            background-color: rgba(250,250,250,0.7);
        }
        &:focus{
            color: $text-color-dark;
            background-color: rgba(250,250,250,0.7);
        }
    }
    .category__button_active{
        background-color: rgba(250,250,250,0.7);
    }
}
.gallery{
    margin: 0 auto;
    padding: 20px 0 50px 0;
    width: 70%;
    display: none;
    .gallery__heading{
        text-align: center;
        margin: 0;
        padding: 15px 0;
    }
    .gallery__images-list{
        padding: 0;
        margin: 0;
        display: flex;
        width: 100%;
        list-style: none;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .gallery__img{
        max-width: 260px;
        max-height: 170px;
        margin: 10px;
        cursor: pointer;
        transition: 0.5s;
        &:hover{
            transform: rotate3d(-1, 1, 0, 30deg);
        	box-shadow: 13px 13px 3px rgba(0,0,0,0.3);
        }
    }
}
.gallery_active{
    display: block;
}
.gallery-view{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.95);
    z-index: 150;
}
.button-close-view{
    position: fixed;
    padding: 0;
    background-color: rgba(0,0,0,0);
    color: $text-color-light;
    top: 6px;
    right: 6px;
    border: 0;
    height: 35px;
    width: 35px;
    cursor: pointer;
    z-index: 200;
    opacity: 0.8;
    &:hover{
        opacity: 1;
    }
    &:focus{
        opacity: 1;
    }
    img{
        max-width: 100%;
    }
}
.img-container-view{
    z-index: 155;
    width: calc(100% - 12px);
    left: 6px;
    top: 6px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: calc(100% - 40px);
}
.img-view{
    max-height: calc(100% - 2px);
    max-width: calc(95% - 2px);
    border: 1px solid $clouds-rgba-light;
}
.button-previous, .button-next{
    position: fixed;
    bottom: 6px;
    z-index: 160;
    width: 40px;
    height: 25px;
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    border: 0;
    left: calc(50% - 60px);
    img{
        max-height: 100%;
    }
    opacity: 0.8;
    &:hover{
        opacity: 1;
    }
    &:focus{
        opacity: 1;
    }
}
.button-next{
    left: calc(50% + 20px);
}
.img-number{
    display: block;
    width: 40px;
    height: 25px;
    font-size: 20px;
    color: $text-color-light;
    position: fixed;
    bottom: 6px;
    right: 6px;
}
.form-contact{
    display: flex;
    margin: 50px auto 0 auto;
    width: 50%;
    padding-bottom: 200px;
    outline: 1px solid black;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}
.two-pair-container{
    width: 45%;
    margin-right: 5%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    align-items: center;
}
.pair-container_email, .pair-container_title{
    //height: 50px;
    width: 100%;
    align-self: flex-start;
}
.pair-container_title{
    align-self: flex-end;
}
.pair-container_content{
    height: 150px;
    width: calc(50%);
}
.label{
    display: block;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    opacity: 0.7;
    cursor: text;
}
.input-email, .input-title{
    display: block;
    border: 0;
    width: calc(100% - 10px);
    padding: 5px;
    font-family: $font-cabin;
}
.textarea{
    width: calc(100% - 10px);
    border: 0;
    padding: 5px;
    display: block;
    height: calc(100% - 10px);
    font-family: $font-cabin;
}
.input-submit{
    display: block;
    cursor: pointer;
    margin-top: 10px;
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
    background-color: white;
    border: 0;
}
